html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:$font-regular;
  font-size: rem(16);
  font-weight: 300;
  line-height: rem(24);
  min-height: 100%;
  letter-spacing: -1%;
  color: $secondary-color;
  margin: 0;
}


body {
  &.post,
  &.page {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 { 
  font-family:$font-header; 
  color: #000;
}

h1,
.h1 {

  font-size: rem(35);
  line-height: rem(45); 
  margin-bottom: rem(20);

  @include tablet-md(){
    font-size: rem(30);
    line-height: rem(40);
  } 
}

h2,
.h2 {
  font-size: rem(24);
  line-height: rem(28); 

  @include mobile-lg(){
    font-size: rem(20);
    line-height: rem(24);
  }
}

h3,
.h3 {
  font-size: rem(23);
  line-height: rem(30);

  @include desktop-xs(){
    font-size: rem(18);
    line-height: rem(25);
  }
  @include tablet-lg(){
      font-size: rem(23);
      line-height: rem(30);

  }
}

h4,
.h4 {
  font-size: rem(20);
  line-height: rem(30);
  
}

h5,
.h5 {
  font-size: rem(18);
  line-height: rem(24);
  
}

p {
  font-size: rem(16);
  line-height: rem(22);  
  font-family: $font-regular; 
  margin: 0;  
}
p+p{
  margin-top: 20px;
}
strong{
  font-family: $font-bold;
}
.container {
  padding-left: rem(10);
  padding-right: rem(10);
  max-width: rem(1236);
  margin: auto;  
  @include desktop-xs(){
    max-width: rem(1020); 
  }
  @include tablet-lg(){
    max-width: rem(916);
  }
  @include tablet-md(){
    max-width: rem(800);
  }
  @include tablet-sm(){
    max-width: rem(800);
  }
  @include mobile-lg(){
    max-width: rem(780);
  }
  @include mobile-md(){
    max-width: rem(780);
  }
  @include mobile-sm(){
    max-width: rem(780);
  }  
}

a,
.btn,
.icon {
  transition: 0.3s all;
}

a {  
  color: $primary-color;
  line-height: 1;
  text-decoration: none;
}
.awesome-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}
.bold{
  font-weight: 700;
}
.color-primary{
  color: $primary-color;
}

@for $i from 1 through 6 {
  .ptop-#{$i} {
    padding-top: 1.5rem * $i;
    @include mobile-lg(){
      padding-top: 1rem * $i;
    }
  }
  .pbottom-#{$i} {
    padding-bottom: 1.5rem * $i;
    @include mobile-lg(){
      padding-bottom: 1rem * $i;
    }
  }
  .pleft-#{$i} {
    padding-left: 1.5rem * $i;
    @include mobile-lg(){
      padding-left: 1rem * $i;
    }
  }
  .pright-#{$i} {
    padding-right: 1.5rem * $i;
    @include mobile-lg(){
      padding-right: 1rem * $i;
    }
  }
  .mtop-#{$i} {
    margin-top: 1.5rem * $i;
    @include mobile-lg(){
      margin-top: 1rem * $i;
    }
  }
  .mbottom-#{$i} {
    margin-bottom: 1.5rem * $i;
    @include mobile-lg(){
      margin-bottom: 1rem * $i;
    }
  }
  .mleft-#{$i} {
    margin-left: 1.5rem * $i;
    @include mobile-lg(){
      margin-left: 1rem * $i;
    }
  }
  .mright-#{$i} {
    margin-right: 1.5rem * $i;
    @include mobile-lg(){
      margin-right: 1rem * $i;
    }
  }
  .mfull-#{$i} {
    margin: 1.5rem * $i;
    @include mobile-lg(){
      margin: 1rem * $i;
    }
  }
  .pfull-#{$i} {
    padding: 1.5rem * $i;
    @include mobile-lg(){
      padding: 1rem * $i;
    }
  }
}

.tm-0 {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mt-small {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 1rem;
    margin-bottom: 0;
    @include mobile-lg(){
      margin-top: 0.5rem;
    }
  }
}

.mt-light {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 2rem;
    margin-bottom: 0;
    @include mobile-lg(){
      margin-top: 1rem;
    }
  }
}

.mt-med {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 4rem;
    margin-bottom: 0;
  }
}

.mt-big {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 6rem;
    margin-bottom: 0;
  }
}
